body{
	font-family: Red hat display, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-family: 'El Messiri', sans-serif;
	font-family: 'Red Hat Display', sans-serif;
}
/*NAVIGATION*/
/*DESKTOP*/
.link_left a:link, .link_left a:visited{
  font-size: 14px;
  color: #000;
  padding-right: 10px;
}
.nav_color{
  padding-top: 10px;
  background-color: #EDE1C8;
}
.link{
  margin-top: -31px;
}
.link a:link, .link a:visited{
  color: #000;
  margin: 10px;
}
.icon a:link, .icon a:visited{
  margin: 7px;
  color: #000;
  font-size: 19px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
/*MY*/
.dropdown-content{
  position: absolute;
  display: none;
  padding: 10px 240px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
  margin-left: -740px;
}
.dropdown .dropdown-content a.dropdown-item:link, .dropdown .dropdown-content a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #3f3f3f;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content a.dropdown-item:hover{
  color: #af635f;
}
.bla{
  position: relative;
}
.bla h5{
  position: absolute;
  color: #fff;
  margin-left: 65px;
  margin-top: -180px;
  cursor: pointer;
}
.bla h5:hover{
  border-bottom: 1px solid #fff;
}

/*ĐAN*/
.dropdown-content1{
  position: absolute;
  display: none;
  padding: 20px 230px;
  width: 1900px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content1{
  display: block;
  margin-left: -800px;
}
.dropdown .dropdown-content1 a.dropdown-item:link, .dropdown .dropdown-content1 a.dropdown-item:visited{
  display: block;
  width: 170px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;

}
.dropdown .dropdown-content1 a.dropdown-item:hover{
  color: #af635f;
}

/*VY*/
.dropdown-content2{
  position: absolute;
  display: none;
  padding: 10px 220px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content2{
  display: block;
  margin-left: -640px;
}
.dropdown .dropdown-content2 a.dropdown-item:link, .dropdown .dropdown-content2 a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content2 a.dropdown-item:hover{
  color: #af635f;
}
/*END DESKTOP*/



/*MOBILE*/
.nav_color_mobile{
	background-color: #EDE1C8;
	padding: 20px;
}

/*Left_nav*/
.sidenav{
  height: 1000%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 70px 0px;
}

.sidenav a{
  padding: 0px 8px 0px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #3F3F3F;
  display: block;
  transition: 0.2s;
}
.sidenav a:active{
  color: #AAA;
}
.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 36px;
  margin-left: 55px;
}
.sidenav .linkItem p{
  margin-top: 8px;
  font-size: 14px;
  padding-left: 10px;
  text-decoration: underline;
}
.sidenav .linkItem a:link, .sidenav .linkItem a:visited{
  font-size: 14px;
  margin: 15px 0px;
}

@media screen and (max-height: 1000%) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
a.icon_nav_mb:link, a.icon_nav_mb:visited{
	color: #000;
	font-size: 20px;
	margin-left: 15px;
  margin-top: 15px !important;
}
/*End Left_nav*/


/*accordion*/
#accordion_02{
  padding: 10px 30px;
}
/*END MOBILE*/
/*END NAVIGATION*/



/*MODAL*/
/*Modal search desktop*/
.textAlign h2{
  text-align: center;
  margin: 25px 0px 0px 170px;
  font-size: 35px;
  font-family: El messiri;
}
.what_search{
  margin: 20px 0px;
}
.what_search input{
  width: 600px;
  height: 50px;
  border-bottom: 1px solid #AAA;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  padding-left: 20px;
}
.what_search ::placeholder{
  color: #AAA;
  letter-spacing: 1px;
}
.what_search button{
  width: 60px;
  height: 48px;
  border-bottom: 1px solid #AAA;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
  margin-left: -8px;
  background: none;
}


/*modal search mobile*/
.textAlign_mb h2{
  margin: 20px 0px 0px 75px;
  font-family: El messiri;
  font-size: 28px;
}
.what_search_mb input{
  width: 320px;
  height: 50px;
  border-bottom: 1px solid #AAA;
  padding: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.what_search_mb button{
  width: 50px;
  height: 50px;
  background: none;
  border-bottom: 1px solid #AAA;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: -8px;
}
.what_search_mb{
  margin-bottom: 20px;
}
.what_search_mb ::placeholder{
	color: #000;
}
/*END MODAL*/




/*ACCOUNT*/
/*DESKTOP*/
.account_bg{
	height: 800px;
	background-image: url('../pic/account_img.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}
.star{
	height: 100px;
	width: 65px;
	background-color: #C1958B;
	color: #fff;
	font-size: 25px;
	padding: 35px 19px;
	margin-left: 150px;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .2);
}
.content{
	margin: 80px 150px;
}
.content h1{
	color: #fff;
	font-size: 60px;
	text-shadow: 3px 3px 7px #896F5B;
}
.content h3{
	color: #AF635F;
}
.content a:link, .content a:visited{
	font-size: 14px;
	color: #888;
	text-decoration: underline;
}
.content button.button_btn{
	margin: 50px 20px 0px 0px;
	width: 250px;
	height: 45px;
	border-radius: 20px;
	border: none;
	background-color: #C1958B;
	color: #fff;
	box-shadow: 1px 3px 5px 0 rgba(137, 111, 91, .4);
}
.content button.button_outline{
	width: 250px;
	height: 45px;
	border-radius: 20px;
	border: 1px solid #000;
	background: none;
}
h2.heading{
	color: #AF635F;
	font-family: El Messiri; 
	padding: 70px 0px;
}


/*product_cards*/
#sp{
	padding: 0px 20px;
}
#sp .item{
	padding: 10px;
	margin-bottom: 30px;
}
#sp .item img{
	border-radius: 15px;
}
.item p.item_name{
	padding: 0px 20px;
	margin-top: 15px;
	letter-spacing: 1px;
}
.item .price{
	font-size: 21px;
	margin-top: -5px;
	padding: 0px 35px;
}
.item .price button{
	background: none;
	border: none;
	margin-top: -15px;
	cursor: pointer;
}
.item .price button:hover{
	color: #999;
}


/*Feedback*/
.feedback{
	position: relative;
	padding: 40px 0px;
}
.feedback img{
	border-radius: 25px;
	box-shadow: 0 4px 10px 3px rgba(140, 140, 140, .3);
}
.feedback_desk{
	position: absolute;
	bottom: 20px;
  	left: 200px;
  	top: 90px;
  	padding-left: 20px;
  	padding-right: 20px;
}
.feedback_desk h3{
	color: #AF635F;
	font-weight: bold;
	letter-spacing: 1px;
}
.feedback_desk form{
	margin-top: 15px;
}
.feedback_desk label{
	font-size: 12px;
	color: #888;
}
.feedback_desk input{
	width: 300px;
	height: 35px;
	padding-left: 10px;
	border: none;
	border-radius: 10px;
	background-color: #F6E5E9;
}
.feedback_desk button{
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: #AF635F;
	color: #FFF;
	letter-spacing: 0.5px;
	box-shadow: 0 4px 7px 2px rgba(0, 0, 0, .2);
}
.feedback_desk button:hover{
	background: none;
}


/*share your style*/
.your_style{
	margin-top: 20px;
}
.your_style img{
	border-radius: 20px;
	margin-bottom: 10px;
}
.your_style img:hover{
	box-shadow: 0 3px 8px 2px rgba(0, 0, 0, .2);
}
/*Find us on*/
.find_us{
	background-color: #EEE;
	padding: 30px 0px 10px 0px;
	margin-top: 70px;
	letter-spacing: 0.5px;
}
.find_us h5{
	color: #C1958B;
	margin-bottom: 20px;
}
.find_us p{
	font-size: 14px;
	margin-top: 10px;
}
.media_icon a:link, .media_icon a:visited{
	font-size: 28px;
	color: #606060;
	margin: 10px;
}
.media_icon a:hover{
	color: rgba(0, 0, 0, .5);
}
/*END DESKTOP*/



/*MOBILE*/
.account_bg_mb{
	height: 800px;
	background-image: url('../pic/account_img_mb.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}
.star_mb{
	height: 80px;
	width: 55px;
	background-color: #C1958B;
	color: #fff;
	font-size: 20px;
	padding: 25px 16px;
	margin-left: 40px;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .2);
}
.content_mb{
	padding: 70px 0px;
	text-align: center;
}
.content_mb h2{
	color: #fff;
	font-size: 40px;
	text-shadow: 2px 2px 6px #896F5B;
}
.content_mb h4{
	color: #AF635F;
}
.content_mb a:link, .content_mb a:visited{
	font-size: 12px;
	color: #888;
	text-decoration: underline;
}
.content_mb button.btn_mb{
	margin: 40px 0px 15px 0px;
	width: 250px;
	height: 45px;
	border-radius: 20px;
	border: none;
	background-color: #C1958B;
	color: #fff;
	box-shadow: 1px 3px 5px 0 rgba(137, 111, 91, .4);
	display: block;
}
.content_mb button.outline_mb{
	width: 250px;
	height: 45px;
	border-radius: 20px;
	border: 1px solid #000;
	background: none;
	display: block;
}
h2.heading{
	color: #AF635F;
	font-family: El Messiri; 
	padding: 50px 0px;
}


/*product_cards mobile*/
#sp_mb{
	margin-top: 50px;
}
#sp_mb .item_mb{
	margin-bottom: 30px;
}
#sp_mb .item_mb img{
	border-radius: 15px;
}
.item_mb p.item_name_mb{
	margin-top: 15px;
	letter-spacing: 1px;
	padding: 0px 5px;
}
.item_mb .price_mb{
	font-size: 21px;
	margin-top: -5px;
	padding: 0px 20px;
}
.item_mb .price_mb button{
	height: 40px;
	width: 40px;
	border: none;
	background: none;
	border-radius: 8px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
	margin-top: -5px;
}


/*Feedback mobile*/
.feedback_mobi{
	position: absolute;
	bottom: 20px;
  	left: 55px;
  	top: 90px;
  	padding-left: 20px;
  	padding-right: 20px;
}
.feedback_mobi h3{
	color: #AF635F;
	font-weight: bold;
	letter-spacing: 1px;
}
.feedback_mobi form{
	margin-top: 15px;
}
.feedback_mobi label{
	font-size: 12px;
	color: #888;
}
.feedback_mobi input{
	width: 300px;
	height: 35px;
	padding-left: 10px;
	border: none;
	border-radius: 10px;
	background-color: #F6E5E9;
}
.feedback_mobi button{
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: #AF635F;
	color: #FFF;
	letter-spacing: 0.5px;
	box-shadow: 0 4px 7px 2px rgba(0, 0, 0, .2);
}
.feedback_mobi button:active{
	background: none;
}


/*Find us on mobile*/
.find_us_mb{
	background-color: #EEE;
	padding: 30px 0px;
	margin-top: 70px;
	letter-spacing: 0.5px;
}
.find_us_mb h5{
	color: #C1958B;
	margin-bottom: 20px;
}
.find_us_mb p{
	font-size: 14px;
	margin-top: 10px;
}
.media_icon a:link, .media_icon a:visited{
	font-size: 28px;
	color: #606060;
	margin: 10px;
}
.media_icon a:hover{
	color: rgba(0, 0, 0, .5);
}
/*END MOBILE*/


/*FOOTER*/
.red_bg{
	background-color: #af635f;
	padding: 60px;
	color: #FFF;
}

/*enter email*/
input.login_box{
	width: 370px;
	height: 50px;
	background-color:  rgba(0,0,0,0);
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-right: 25px;
}
::placeholder{
	color: #FFF;
	opacity: 0.5;
	font-size: 14px;
}
button.btn_footer{
  	width: 130px;
  	background-color: #c1958b;
  	color: #fff;
  	font-size: 16px;
 	padding: 10px 24px;
  	cursor: pointer;
  	border-radius: 8px;
  	text-align: center;
}
button.btn_footer:hover{
  	background-color: #ede1c8;
  	color: #af635f;
}


/*links*/
.link1 a:link, .link1 a:visited{
	color: #fff;
	padding-left: 0px !important;
}
.link1 a:hover{
	color: #ece1c8;
}


/*logo and copyright*/
.logo{
	font-family: El messiri;
	color: #fff;
	font-size: 50px;
}
.logo_box{
	width: 450px;
	text-align: center;
	margin-top: 60px;
}



/*MOBILE*/
/*enter email mobile*/
input.login_box1{
	width: 230px;
	height: 50px;
	background-color:  rgba(0,0,0,0);
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin: 0px 10px 20px 0px;
	padding-left: 10px;
}
button.btn_footer1{
	width: 85px;
	height: 40px;
  	background-color: #c1958b;
 	color: #fff;
  	font-size: 16px;
  	cursor: pointer;
  	border-radius: 8px;
  	text-align: center;
}
button.btn_footer1:active{
	background-color: #ede1c8;
  	color: #af635f;
}
.point{
	cursor: pointer;
}


/*link mobile*/
.link2 a:link, .link2 a:visited{
	color: #fff;
}
.link2 a:hover{
	color: #ece1c8;
}


/*logo and copyright mobile*/
.logo_box1{
	text-align: center;
}
.copyright{
	font-size: 13px;
	letter-spacing: 0.5px;
}
.logo1{
	font-family: El messiri;
	color: #fff;
	font-size: 40px; 
}
hr{
	background-color: #FFF;
	width: 250px;
}