body{
	font-family: Red hat display, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-family: 'El Messiri', sans-serif;
	font-family: 'Red Hat Display', sans-serif;
}
/*NAVIGATION*/
/*DESKTOP*/
.link_left a:link, .link_left a:visited{
  font-size: 14px;
  color: #000;
  padding-right: 10px;
}
.nav_color{
  padding-top: 10px;
  background-color: #EDE1C8;
}
.link{
  margin-top: -31px;
}
.link a:link, .link a:visited{
  color: #000;
  margin: 10px;
}
.icon a:link, .icon a:visited{
  margin: 7px;
  color: #000;
  font-size: 19px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
/*MY*/
.dropdown-content{
  position: absolute;
  display: none;
  padding: 10px 240px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
  margin-left: -740px;
}
.dropdown .dropdown-content a.dropdown-item:link, .dropdown .dropdown-content a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #3f3f3f;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content a.dropdown-item:hover{
  color: #af635f;
}
.bla{
  position: relative;
}
.bla h5{
  position: absolute;
  color: #fff;
  margin-left: 65px;
  margin-top: -180px;
  cursor: pointer;
}
.bla h5:hover{
  border-bottom: 1px solid #fff;
}

/*ĐAN*/
.dropdown-content1{
  position: absolute;
  display: none;
  padding: 20px 230px;
  width: 1900px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content1{
  display: block;
  margin-left: -800px;
}
.dropdown .dropdown-content1 a.dropdown-item:link, .dropdown .dropdown-content1 a.dropdown-item:visited{
  display: block;
  width: 170px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;

}
.dropdown .dropdown-content1 a.dropdown-item:hover{
  color: #af635f;
}

/*VY*/
.dropdown-content2{
  position: absolute;
  display: none;
  padding: 10px 220px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content2{
  display: block;
  margin-left: -640px;
}
.dropdown .dropdown-content2 a.dropdown-item:link, .dropdown .dropdown-content2 a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content2 a.dropdown-item:hover{
  color: #af635f;
}
/*END DESKTOP*/



/*MOBILE*/
.nav_color_mobile{
	background-color: #EDE1C8;
	padding: 20px;
}

/*Left_nav*/
.sidenav{
  height: 1000%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 70px 0px;
}

.sidenav a{
  padding: 0px 8px 0px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #3F3F3F;
  display: block;
  transition: 0.2s;
}
.sidenav a:active{
  color: #AAA;
}
.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 36px;
  margin-left: 55px;
}
.sidenav .linkItem p{
  margin-top: 8px;
  font-size: 14px;
  padding-left: 10px;
  text-decoration: underline;
}
.sidenav .linkItem a:link, .sidenav .linkItem a:visited{
  font-size: 14px;
  margin: 15px 0px;
}

@media screen and (max-height: 1000%) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
a.icon_nav_mb:link, a.icon_nav_mb:visited{
	color: #000;
	font-size: 20px;
	margin-left: 15px;
  margin-top: 15px !important;
}
/*End Left_nav*/


/*accordion*/
#accordion_02{
  padding: 10px 30px;
}
/*END MOBILE*/
/*END NAVIGATION*/



/*MODAL*/
/*Modal search desktop*/
.textAlign h2{
  text-align: center;
  margin: 25px 0px 0px 170px;
  font-size: 35px;
  font-family: El messiri;
}
.what_search{
  margin: 20px 0px;
}
.what_search input{
  width: 600px;
  height: 50px;
  border-bottom: 1px solid #AAA;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  padding-left: 20px;
}
.what_search ::placeholder{
  color: #AAA;
  letter-spacing: 1px;
}
.what_search button{
  width: 60px;
  height: 48px;
  border-bottom: 1px solid #AAA;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
  margin-left: -8px;
  background: none;
}


/*modal search mobile*/
.textAlign_mb h2{
  margin: 20px 0px 0px 75px;
  font-family: El messiri;
  font-size: 28px;
}
.what_search_mb input{
  width: 320px;
  height: 50px;
  border-bottom: 1px solid #AAA;
  padding: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.what_search_mb button{
  width: 50px;
  height: 50px;
  background: none;
  border-bottom: 1px solid #AAA;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: -8px;
}
.what_search_mb{
  margin-bottom: 20px;
}
.what_search_mb ::placeholder{
	color: #000;
}
/*END MODAL*/





/*NEWS AND SHOWS*/
/*DESKTOP*/
.fall{
	margin-top: 10px;
}
.news_left .text_news{
	margin: 350px 0px 0px 50px;
}
.news_left .text_news h1{
	color: #FFF;
}
.news_left .text_news p{
	color: #FFF;
	font-size: 18px;
	margin-bottom: 40px;
}
.news_left .text_news button{
	height: 55px;
	width: 180px;
	color: #FFF;
	border: none;
	background-color: #3F3F3F;
	border-radius: 15px;
	letter-spacing: 1px;
}
.news_left .text_news button:hover{
	background-color: #AF635F;
	color: #FFF;
}
.news_right{
	margin-left: -20px;
}

/*news and shows*/
.news_and_shows{
	margin: 70px 0px;
}
.news_and_shows h1{
	font-family: El messiri;
	color: #AF635F;
}
.total{
	padding: 3px;
	margin-bottom: 70px;
}
.total h6{
	margin-top: 20px;
	font-weight: bold;
}
.box{
	height: 600px;
	padding: 30px;
	color: #FFF;
}
.box_caption{
	height: 300px;
	background-color: rgba(0, 0, 0, .2);
	padding: 35px;
	margin-top: 150px;
}
.box_caption button{
	height: 50px;
	width: 180px;
	border-radius: 15px;
	border: none;
	background-color: #AF635F;
	color: #FFF;
	margin-top: 20px;
}
.box_caption button:hover{
	border: 1px solid #AF635F;
	background: none;
}
.img_01{
	background-image: url(../pic/coat_01.jpg);
}
.img_02{
	background-image: url(../pic/coat_02.jpg);
}
.img_03{
	background-image: url(../pic/New_shows_04.jpg);
}


/*HAUTE COUTURE COLLECTION*/
.haute_couture{
	background-color: #EDE1C8;
	padding: 70px 0px;
	text-align: center;
	color: #000;
}
.haute_couture h4{
	margin-top: 50px;
}
.haute_couture p{
	margin-bottom: 30px;
}
.haute_couture button{
	height: 55px;
	width: 180px;
	border-radius: 15px;
	border: none;
	background-color: #C1958B;
	color: #FFF;
}
.haute_couture button:hover{
	box-shadow: 0 3px 5px 3px rgba(140, 140, 140, .3);
}
.inside{ 
	padding: 3px 0px;
}


/*Sale*/
.sale{
	margin: 70px 0px;
}
.sale img{
	border-radius: 20px;
	box-shadow: 0 3px 7px 3px rgba(0, 0, 0, .3);
	margin-bottom: 40px;
}
.sale button{
	width: 180px;
	height: 50px;
	background-color: #C1958B;
	color: #FFF;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}
.sale button:hover{
	border: 1px solid #C1958B;
	background: none;
	color: #C1958B;
}

/*more_collection*/
.collection_more{
	margin-top: 70px;
}
.collection_more{
	position: relative;
	padding: 40px 0px;
}
.more_text{
	width: 400px;
	position: absolute;
  	left: 250px;
  	top: 450px;
  	font-size: 14px;
  	font-weight: bold;
}
.more_text button{
	width: 150px;
	height: 45px;
	background-color: #3F3F3F;
	color: #FFF;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	font-size: 14px;
}
.more_text button:hover{
	background: none;
	box-shadow: 0 3px 6px 2px rgba(0, 0, 0, .2);
	color: #000;
	border: 1px solid #000;
}


/*Find us on*/
.find_us{
	background-color: #EEE;
	padding: 30px 0px 10px 0px;
	letter-spacing: 0.5px;
}
.find_us h5{
	color: #C1958B;
	margin-bottom: 20px;
}
.find_us p{
	font-size: 14px;
	margin-top: 10px;
}
.media_icon a:link, .media_icon a:visited{
	font-size: 28px;
	color: #606060;
	margin: 10px;
}
.media_icon a:hover{
	color: rgba(0, 0, 0, .5);
}
/*End HAUTE COUTURE COLLECTION*/
/*END DESKTOP*/



/*MOBILE*/
.banner_show_mb{
	margin-top: 840px;
}
.banner_show_mb h3{
	font-family: El messiri;
	color: #FFF;
	line-height: 40px;
}
.banner_show_mb p{
	color: #FFF;
	margin-bottom: 40px;
}
.banner_show_mb button{
	height: 55px;
	width: 180px;
	color: #FFF;
	background-color: #AF635F;
	border-radius: 15px;
	border: none;
}


/*news and events*/
.text_events{
	margin: 50px;
}
.text_events h2{
	font-family: El messiri;
	color: #C1958B;
}
.box_mb{
	height: 550px;
	padding: 150px 50px 0px 50px;
	color: #FFF;
	margin-bottom: 10px;
}
.box_caption_mb{
	height: 300px;
	padding: 30px 35px;
	background-color: rgba(0, 0, 0, .2);
}
.box_caption_mb p{
	margin: 20px 0px 35px 0px;
}
.box_caption_mb button{
	height: 55px;
	width: 180px;
	border-radius: 15px;
	border: none;
	background-color: #C1958B;
	color: #FFF;
}
.img_01_mb{
	background-image: url(../pic/coat_01.jpg);
}
.img_02_mb{
	background-image: url(../pic/coat_02.jpg);
}
.img_03_mb{
	background-image: url(../pic/New_shows_04.jpg);
}


/*haute couture*/
.haute_couture_mb{
	background-color: #EDE1C8;
	padding: 40px 0px;
	margin-top: 50px;
}
.haute_couture_mb h2{
	color: #AF635F;
	margin-bottom: 40px;
	line-height: 42px;
}
.haute_couture_mb p{
	color: #000;
	margin: 40px 20px;
}
.haute_couture_mb button{
	height: 55px;
	width: 180px;
	color: #FFF;
	background-color: #C1958B;
	border-radius: 15px;
	border: none;
}


/*Sale*/
.sale_mb{
	margin: 70px 0px;
}
.sale_mb img{
	border-radius: 20px;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, .2);
	margin-bottom: 40px;
}
.sale_mb button{
	width: 180px;
	height: 50px;
	background-color: #C1958B;
	color: #FFF;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}


/*more_collection*/
.collection_more_mb{
	margin-top: 70px;
}
.collection_more_mb{
	position: relative;
	padding: 40px 0px;
}
.more_text_mb{
	position: absolute;
  	left: 65px;
  	top: 470px;
}
.more_text_mb button{
	width: 150px;
	height: 45px;
	background-color: #3F3F3F;
	color: #FFF;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	font-size: 14px;
}


/*Find us on mobile*/
.find_us_mb{
	background-color: #EEE;
	padding: 30px 0px;
	letter-spacing: 0.5px;
}
.find_us_mb h5{
	color: #C1958B;
	margin-bottom: 20px;
}
.find_us_mb p{
	font-size: 14px;
	margin-top: 10px;
}
.media_icon a:link, .media_icon a:visited{
	font-size: 28px;
	color: #606060;
	margin: 10px;
}
.media_icon a:hover{
	color: rgba(0, 0, 0, .5);
}
/*END MOBILE*/
/*END NEWS AND SHOWS*/



/*FOOTER*/
.red_bg{
	background-color: #af635f;
	padding: 60px;
	color: #FFF;
}

/*enter email*/
input.login_box{
	width: 370px;
	height: 50px;
	background-color:  rgba(0,0,0,0);
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-right: 25px;
}
::placeholder{
	color: #FFF;
	opacity: 0.5;
	font-size: 14px;
}
button.btn_footer{
  	width: 130px;
  	background-color: #c1958b;
  	color: #fff;
  	font-size: 16px;
 	padding: 10px 24px;
  	cursor: pointer;
  	border-radius: 8px;
  	text-align: center;
}
button.btn_footer:hover{
  	background-color: #ede1c8;
  	color: #af635f;
}


/*links*/
.link1 a:link, .link1 a:visited{
	color: #fff;
	padding-left: 0px !important;
}
.link1 a:hover{
	color: #ece1c8;
}


/*logo and copyright*/
.logo{
	font-family: El messiri;
	color: #fff;
	font-size: 50px;
}
.logo_box{
	width: 450px;
	text-align: center;
	margin-top: 60px;
}



/*MOBILE*/
/*enter email mobile*/
input.login_box1{
	width: 230px;
	height: 50px;
	background-color:  rgba(0,0,0,0);
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin: 0px 10px 20px 0px;
	padding-left: 10px;
}
button.btn_footer1{
	width: 85px;
	height: 40px;
  	background-color: #c1958b;
 	color: #fff;
  	font-size: 16px;
  	cursor: pointer;
  	border-radius: 8px;
  	text-align: center;
}
button.btn_footer1:active{
	background-color: #ede1c8;
  	color: #af635f;
}
.point{
	cursor: pointer;
}


/*link mobile*/
.link2 a:link, .link2 a:visited{
	color: #fff;
}
.link2 a:hover{
	color: #ece1c8;
}


/*logo and copyright mobile*/
.logo_box1{
	text-align: center;
}
.copyright{
	font-size: 13px;
	letter-spacing: 0.5px;
}
.logo1{
	font-family: El messiri;
	color: #fff;
	font-size: 40px; 
}
hr{
	background-color: #FFF;
	width: 250px;
}