body{
  font-family: Red Hat Display;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 24px;
  color:#000;
  font-family: 'El Messiri', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
}

.break{
  max-width: 1300px;
}
#bg_overlay{
  position: absolute;
  z-index: 99;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 10000%;
  background-color: rgba(0,0,0,.6);
  display: none;
}
.link_left a:link, .link_left a:visited{
  font-size: 14px;
  color: #000;
  padding-right: 10px;
}
.nav_color{
  padding-top: 10px;
  background-color: #EDE1C8;
}
.link{
  margin-top: -31px;
}
.link a:link, .link a:visited{
  color: #000;
  margin: 10px;
}
.icon a:link, .icon a:visited{
  margin: 7px;
  color: #000;
  font-size: 19px;
}

.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  position: absolute;
  display: none;
  padding: 10px 240px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content{
  display: block;
  margin-left: -740px;
}
.dropdown .dropdown-content a.dropdown-item:link, .dropdown .dropdown-content a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #3f3f3f;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content a.dropdown-item:hover{
  color: #af635f;
}
.bla{
  position: relative;
}
.bla h5{
  position: absolute;
  color: #fff;
  margin-left: 65px;
  margin-top: -180px;
  cursor: pointer;
}
.bla h5:hover{
  border-bottom: 1px solid #fff;
}

/*ĐAN*/
.dropdown-content1{
  position: absolute;
  display: none;
  padding: 20px 230px;
  width: 1900px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content1{
  display: block;
  margin-left: -800px;
}
.dropdown .dropdown-content1 a.dropdown-item:link, .dropdown .dropdown-content1 a.dropdown-item:visited{
  display: block;
  width: 170px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;

}
.dropdown .dropdown-content1 a.dropdown-item:hover{
  color: #af635f;
}

/*VY*/
.dropdown-content2{
  position: absolute;
  display: none;
  padding: 10px 220px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content2{
  display: block;
  margin-left: -640px;
}
.dropdown .dropdown-content2 a.dropdown-item:link, .dropdown .dropdown-content2 a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content2 a.dropdown-item:hover{
  color: #af635f;
}


/*MOBILE*/
.nav_color_mobile{
  background-color: #EDE1C8;
  padding: 5px 15px;
}
/*Left_nav*/
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 55px;
}
.sidenav a:link, .sidenav a:visited{
  display: block;
  padding: 10px 10px 15px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #3a3a3a;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
.sidenav a:hover {
  color: #7f7f7f;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}
.linkItem{
  padding-left: 20px;
}
.sidenav .linkItem p{
  margin-top: 10px;
  font-size: 15px;
  padding-left: 20px;
  font-weight: bold;
  color: #7f7f7f;
}
.sidenav .linkItem a:link, .sidenav .linkItem a:visited{
  font-size: 15px;
  margin: -12px 0px -10px 15px;
  letter-spacing: 0.5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
a.icon_nav_mb:link, a.icon_nav_mb:visited{
  color: #000;
  font-size: 20px;
  margin-left: 15px;
}
/*End Left_nav*/
/*END MOBILE*/







.link_left a:link, .link_left a:visited{
  font-size: 14px;
  color: #000;
  padding-right: 10px;
}
.nav_color{
  padding-top: 10px;
  background-color: #EDE1C8;
}
.link{
  margin-top: -31px;
}
.link a:link, .link a:visited{
  color: #000;
  margin: 10px;
}
.icon a:link, .icon a:visited{
  margin: 7px;
  color: #000;
  font-size: 19px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
/*MY*/
.dropdown-content{
  position: absolute;
  display: none;
  padding: 10px 240px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
  margin-left: -740px;
}
.dropdown .dropdown-content a.dropdown-item:link, .dropdown .dropdown-content a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #3f3f3f;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content a.dropdown-item:hover{
  color: #af635f;
}
.bla{
  position: relative;
}
.bla h5{
  position: absolute;
  color: #fff;
  margin-left: 65px;
  margin-top: -180px;
  cursor: pointer;
}
.bla h5:hover{
  border-bottom: 1px solid #fff;
}

/*ĐAN*/
.dropdown-content1{
  position: absolute;
  display: none;
  padding: 20px 230px;
  width: 1900px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content1{
  display: block;
  margin-left: -800px;
}
.dropdown .dropdown-content1 a.dropdown-item:link, .dropdown .dropdown-content1 a.dropdown-item:visited{
  display: block;
  width: 170px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;

}
.dropdown .dropdown-content1 a.dropdown-item:hover{
  color: #af635f;
}

/*VY*/
.dropdown-content2{
  position: absolute;
  display: none;
  padding: 10px 220px;
  width: 1600px;
  background-color: #ede1c8;
  z-index: 1;
}
.dropdown:hover .dropdown-content2{
  display: block;
  margin-left: -640px;
}
.dropdown .dropdown-content2 a.dropdown-item:link, .dropdown .dropdown-content2 a.dropdown-item:visited{
  display: block;
  width: 150px;
  color: #2b2b2b;
  background-color: #ede1c8;
  padding: 10px !important;
}
.dropdown .dropdown-content2 a.dropdown-item:hover{
  color: #af635f;
}



.text_el{
  font-family: El Messiri;
}
.amount {
  border: none;
  border-bottom: 0.5px solid #23326A;
  width: 57px;
  height: 20px;
  font-size: 16px;
}

.amount1 {
  border: none;
  border-bottom: 0.5px solid #23326A;
  width: 57px;
  height: 25px;
  font-size: 18px;
}


.bold_text{
  font-weight: bold;
}

button.light_icon{
  font-size: 17px;
  border: none;
  color: #DDDDDD;
  background-color: rgba(0,0,0,0);

}
button.light_icon:hover{
  color: grey;
}
.container .btn_2  {
  width: 100%;
  height: 55px;
  background-color: #85715c;
  
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.container .btn_2:hover {
  background-color: #c1958b;
  color: #fff;
}

.container .btn_1 {
  width: 30%;
 
  background-color: #ede1c8;
  
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  color: #85715c;
}

.container .btn_1:hover {
  background-color: rgba(0,0,0,0);
  border:1px solid #85715c;
  color: #85715c;
}


.link5 a:link, .link5 a:visited{
  color: #23326A;
}
.link5 a:hover{
  color: #008E9D;
  text-decoration: none;

}

.w_input{
  width: 69%;

}
 .w_input::placeholder{
  color: #000;
}

 .amount::placeholder{
  color: #000;
}
 .amount1::placeholder{
  color: #000;
}
.col_right{
  padding-left: 50px;
}

img.img_radius{
  border-radius: 20px;
}
.box_pic{
  width: 150px;
}

.linka a:link, .linka a:visited{
  font-size: 13px;
  color: #af635f;
}

.small_text{
  font-size: 12px;
}

.small_text1{
  font-size: 14px;
}


.red_bg{
  background-color: #af635f;
  padding: 60px;
  text-align: left;
  letter-spacing: 0px;
  color: #fff;
  }

.login_box{
  width: 370px;
  height: 50px;
  background-color:  rgba(0,0,0,0);
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.login_box1{
  width: 260px;
  height: 50px;
  background-color:  rgba(0,0,0,0);
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.link1 a:link, .link1 a:visited{
  color: #fff;
  padding-left: 0px !important;
}

.link1 a:hover{
  color: #ece1c8;
}

.link2 a:link, .link2 a:visited{
  color: #fff;
}

.link2 a:hover{
  color: #ece1c8;
}

.btn_footer{
  width: 130px;
  background-color: #c1958b;
  color: #fff;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
}

.btn_footer:hover{
  background-color: #ede1c8;
  color: #af635f;
}

::placeholder{
  color: #fff;
  opacity: 0.5;
}

.logo{
  font-family: Philosopher;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.logo_box{
  width: 450px;
  text-align: center;
  margin: auto;
}

.logo_box1{
  width: 250px;
  text-align: center;
  margin-left: 100px;
}

.mr_0{
  margin-left: 290px;
}

.mr_1{
  margin-left: 310px;
}

.mr_2{
  margin-left: 255px;
}

.point{
  cursor: pointer;
}